[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Jacc89
	email = laflacalex9@gmail.com
	username = laflacalex9@gmail.com
[core]
	editor = emac
[init]
	defaultBranch = master
